form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.form-login {
  align-content: center;
  align-self: center;
  box-shadow: rgba(25, 25, 25, 0.5) 0px 4px 12px 0px;
  background-color: white;
  display: flex;
  width: 23%;
  border-radius: 10px;
  padding: 4%;
  flex-direction: column;
}

.form-login h1 {
  font-family: "Poppins";
}

.form-login button {
  margin-top: 42px;
  margin-bottom: 25px;
  width: 129px;
  height: 36px;
  background-color: black;
  color: white;
  font-size: 22px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-register {
  align-content: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
}

form input {
  margin: 20px;
  border-radius: 3px;
  height: 100%;
  width: 100%;
  color: black;
}

button {
  margin: 5px;
}

.header-welcome {
  width: 100%;
  height: 100px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 3;
  border-bottom: 1px solid rgb(242, 242, 242);
}

.header-welcome button {
  margin-right: 35px;
  width: 173px;
  height: 42px;
  background-color: black;
  color: white;
  font-size: 22px;
  font-size: 20px;
  font-family: "Poppins";
}

.welcome-container {
  background-size: cover;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-height: 800px;
  -webkit-box-pack: start;
  justify-content: flex-start;

  background-color: #fafafa;
  background-image: url(https://images.unsplash.com/photo-1531736275454-adc48d079ce9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
}

.message-container {
  width: 100%;
  min-height: 325px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  margin-left: 37px;
  margin-right: 12px;
}

.message-container h1 {
  font-family: Poppins;
  font-weight: bold;
  font-size: 30px;

  margin-left: 56px;
}
.message-container p {
  font-family: Poppins;
  font-weight: bold;

  font-size: 18px;
  margin-left: 56px;
}

.image-container {
  width: 56%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 36px;
}

.image-container img {
  width: 70%;
}

.message-container button {
  width: 220px;
  height: 42px;
  background-color: black;
  color: white;
  font-size: 22px;
  margin-left: 52px;
}

.logo {
  font-family: "Work Sans";
  margin-left: 39px;
}

button:hover {
  cursor: pointer;
}

.container-register {
  background-color: rgb(220, 235, 255);
  background-image: url(https://images.unsplash.com/photo-1531736275454-adc48d079ce9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: space-around;
  text-align: center;
  width: -webkit-fill-available;
  background-position: center top;
  background-repeat: no-repeat;
  height: 795px;
  background-color: #fafafa;
}

.form {
  align-content: center;
  align-self: center;
  box-shadow: rgba(25, 25, 25, 0.5) 0px 4px 12px 0px;
  background-color: rgb(255, 255, 255);
  display: flex;

  width: 23%;

  border-radius: 10px;
  padding: 4%;
}

.form button {
  margin: 20px;
}

.container-profile {
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  min-height: 800px;
  -webkit-box-pack: start;
  justify-content: flex-start;
  position: relative;
  flex-grow: 1;
  max-width: 100%;
  background-image: url(https://images.unsplash.com/photo-1531736275454-adc48d079ce9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  text-align: center;
  top: 100px;
  height: fit-content;
  padding-top: 20px;
  margin: auto;
}

.container-profile h2 {
  color: black;
  font-family: "Poppins";
  margin: 20px;

  font-size: 30px;
  padding: 27px;
}
.profile {
  display: flex;
  flex-direction: column;
  width: 57%;
  text-align: center;
  height: 82px;
  margin-top: 118px;
  background-color: rgb(249, 225, 164);
  border-radius: 21px;
}

.image-pic {
  width: 205px;
  height: 205px;
}

.image-card {
  display: inline-block;
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: space-around;
  position: relative;
  text-align: center;
  position: relative;
  margin: 8px;
  padding: 5px;
  text-align: center;
}
.image-card img {
  border-radius: 2px;
}

.image-card p a {
  font-family: "roboto mono";
  text-decoration: none;
}

button {
  border-radius: 5px;
}

.imgprofile {
  width: 216px;

  text-align: center;
}

.gallery-em {
  position: absolute;

  z-index: 2;
  background-color: transparent;
  content: "";
  transition: background-color 0.2s ease 0s;
}

.button-img img {
  width: 87px;
  height: 87px;
  border-radius: 50%;
}

.button-img {
  padding: 10px;
}

form {
  display: flex;

  align-items: center;
}

.Uploader span {
  color: white;

  position: absolute;
  top: 12px;
  right: 13px;
}

.menu h1 {
  font-family: "Poppins";
  font-size: 16px;
  color: #f0c06e;
}

.menu a {
  color: rgb(168, 168, 168);
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}

.logo a:hover {
  cursor: pointer;
}

.logo a {
  color: black;
  text-decoration: none;
}

.image-card p {
  font-family: "roboto mono";
  text-decoration: none;
  color: black;
}

.profile-list img {
  width: 300px;
  height: 300px;
}

.profile-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "roboto mono";
  margin-top: 100px;
  flex-direction: column;
}

.profile-list button {
  background-color: black;
  color: white;
  width: 120px;
  height: object-fit;
}

.msg {
  background-color: #fafafa;
  border-radius: 9px;
  margin: 16px;
}

.big-container {
  display: flex;
}

.Postpic {
  border: 2px solid rgb(242, 242, 242);
  padding: 10px;
}

.image-pic-post {
  width: 205px;
  height: 205px;
  padding: 20px;
}

.uploaderpost button {
}

.btn-logout button {
  background-color: #f0c06e;
  width: 80px;
  height: 30px;
  color: white;
  font-size: 16px;
}

.btn-logout button:hover {
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.21);
}

.btn-logout {
  margin-left: 10px;
}

.fav {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 19px;
  border: solid 1px;
  padding: 5px;
}

.button-img {
  padding: 10px;
  padding-right: 27px;
  display: flex;
  align-items: center;
}

.user p {
  font-family: "roboto mono";
}

.formmood {
  margin-top: 200px;
}

.chatbot {
  display: flex;
  position: absolute;
  bottom: 0;
}

canvas {
  display: block;
  width: 754px;
  height: 354px;
  margin-top: 200px;
}

.container-box {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  position: absolute;
  top: 200px;
}

.box {
  position: relative;
  background: white;
  width: 300px;
  height: 84px;
  border-radius: 10px;
  box-shadow: rgba(25, 25, 25, 0.5) 0px 4px 12px 0px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.box:hover {
  cursor: pointer;
}
.box span {
  font-family: "poppins";

  font-size: 22px;
}

.container-box a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.box:hover {
  transform: translateY(-10px);
}

.background {
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  min-height: 800px;
  -webkit-box-pack: start;
  justify-content: flex-start;
  position: relative;
  flex-grow: 1;
  max-width: 100%;
  background-image: url(https://images.unsplash.com/photo-1531736275454-adc48d079ce9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  text-align: center;
  top: 100px;
  height: fit-content;
  padding-top: 20px;
  margin: auto;
}

.gratitude-form {
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-direction: column;
}

.smile {
  font-family: "poppins";
  font-size: 23px;
}

.gratitude {
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 300px;
  font-family: "poppins";
}

li span {
  font-family: "Caveat", cursive;
  font-size: 25px;
}

li {
  padding: 10px;
}

.gratitude-input input {
  width: 396px;
  height: 37px;
}

.gratitude-input form {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  align-items: center;
}

.gratitude-form ul,
li {
  list-style: none;
}
.gratitude-form ul {
  overflow: hidden;
  padding: 5em;
}

.gratitude-form ul li a {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 10em;
  width: 10em;
  padding: 1em;
}
.gratitude-form ul li {
  margin: 1em;
  float: left;
}
.gratitude-form ul li h2 {
  font-size: 140%;
  font-weight: bold;
  padding-bottom: 10px;
}
.gratitude-form ul li p {
  font-family: "Reenie Beanie", arial, sans-serif;
  font-size: 180%;
}
.gratitude-form ul li:nth-child(even) {
  -o-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  position: relative;
  top: 5px;
}
.gratitude-form ul li:nth-child(3n) {
  -o-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  position: relative;
  top: -5px;
}
.gratitude-form ul li:nth-child(5n) {
  -o-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  top: -10px;
}
.gratitude-form ul li {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 10em;
  width: 10em;
  padding: 1em;
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  -moz-transition: -moz-transform 0.15s linear;
  -o-transition: -o-transform 0.15s linear;
  -webkit-transition: -webkit-transform 0.15s linear;
}

.gratitude-form ul li:nth-child(even) {
  -o-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  position: relative;
  top: 5px;
  background: #cfc;
}
.gratitude-form ul li:nth-child(3n) {
  -o-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  position: relative;
  top: -5px;
  background: #ccf;
}

.Container-gratitude {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 13px;
  background-color: whitesmoke;
}

.btn-gratitude {
  width: 107px;
  height: 38px;
  font-family: "poppins";
  font-size: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 45px;
  right: 0px;
  width: 200px;
  background-color: white;
  font-weight: bold;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown li a {
  color: #000;
  text-decoration: none;
  font-family: "poppins";
}
.dropdown li {
  padding: 8px 16px;
  border-bottom: 1px solid #e5e5e5;
}
.dropdown li:last-child {
  border-bottom: none;
}
.dropdown li:hover {
  background-color: #e5e5e5;
  color: white;
}
.button {
  width: 50px;
  height: 18px;
  background-color: black;
  padding: 12px;
  border-radius: 5px;
  font-family: 1px;
  font-family: "work sans";
  color: white;
}
.button:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border: 10px solid;
  border-color: white transparent transparent transparent;
  right: 6px;
  top: 18px;
}

.form-login a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.dropdown {
  width: 110px;
  background: black;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .container-profile {
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    min-height: 1680px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    position: relative;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
    top: 100px;
    padding-top: 20px;
    margin: auto;
  }
  .dropdown {
  }

  .button {
    width: 79px;
    height: 28px;
    background-color: black;
    padding: 11px;
    border-radius: 5px;
    font-family: 1px;
    font-family: "work sans";
    color: white;
    font-size: 21px;
  }
  .dropdown li {
    padding: 8px 16px;
    font-size: 30px;
    border-bottom: 1px solid #e5e5e5;
  }
  .container-box {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    position: absolute;
    top: 200px;
  }
  .box {
    position: relative;
    background: white;
    width: 500px;
    height: 100px;
    border-radius: 10px;
    box-shadow: rgba(25, 25, 25, 0.5) 0px 4px 12px 0px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 25px;
  }
  .background {
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    min-height: 1680px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    position: relative;
    flex-grow: 1;
    max-width: 100%;
    background-image: url(https://images.unsplash.com/photo-1531736275454-adc48d079ce9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    text-align: center;
    top: 100px;
    height: fit-content;
    padding-top: 20px;
    margin: auto;
  }

  main {
    min-height: 1680px;
    background-image: url(https://images.unsplash.com/photo-1531736275454-adc48d079ce9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  }

  .chatbot {
    top: 9%;
  }
  .welcome-container {
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 1800px;
    background-color: #fafafa;
    background-image: url(https://images.unsplash.com/photo-1531736275454-adc48d079ce9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  }

  .message-container h1 {
    font-family: Poppins;
    font-weight: bold;
    font-size: 63px;
    margin-left: 56px;
  }
  .message-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    margin-left: 4px;
    margin-right: 12px;
  }
  .image-container img {
    width: 98%;
  }
  .image-container {
    width: 78%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 36px;
  }
  .container-register {
    background-color: rgb(220, 235, 255);
    background-image: url(https://images.unsplash.com/photo-1531736275454-adc48d079ce9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: space-around;
    text-align: center;
    width: -webkit-fill-available;
    background-position: center top;
    background-repeat: no-repeat;
    height: 1800px;
    background-color: #fafafa;
  }

  .form-login {
    align-self: center;
    box-shadow: rgba(25, 25, 25, 0.5) 0px 4px 12px 0px;
    background-color: white;
    display: flex;
    width: 66%;
    height: px;
    padding: 116px;
    border-radius: 10px;

    flex-direction: column;
  }
}
